.logo img{
    position: relative;
    display: block;
    right: 650%;
    border: solid 3px rgb(130, 125, 125);
    border-radius: 20px;
    top: 42px
}

.contact{
    position: relative;
    top: 27px;
    left: 200px;
}

.infor{
    position: absolute;
    margin-top: 25px;
    margin-left: 275px;
}

.nextwork{
    position: absolute;
    margin-top: 25px;
    margin-left: 880px;
}



