extends layout

block content
  // ====== PRELOADER PART START ======
  .preloader
    .loader
      .ytp-spinner
        .ytp-spinner-container
          .ytp-spinner-rotator
            .ytp-spinner-left
              .ytp-spinner-circle
            .ytp-spinner-right
              .ytp-spinner-circle
  // ====== PRELOADER PART ENDS ======
  // ====== NAVBAR PART START ======
  section.header-area
    .navbar-area
      .container
        .row
          .col-lg-12
            nav.navbar.navbar-expand-lg
              a.navbar-brand(href='#')
                img(src='/img/logo.png' alt='Logo')
              button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarEight' aria-controls='navbarEight' aria-expanded='false' aria-label='Toggle navigation')
                span.toggler-icon
                span.toggler-icon
                span.toggler-icon
              #navbarEight.collapse.navbar-collapse.sub-menu-bar
                ul.navbar-nav.ml-auto
                  li.nav-item.active
                    a.page-scroll(href='#home') HOME
                  li.nav-item
                    a.page-scroll(href='#about') ABOUT
                  li.nav-item
                    a.page-scroll(href='#portfolio') PORTFOLIO
                  li.nav-item
                    a.page-scroll(href='#pricing') PRICING
                  li.nav-item
                    a.page-scroll(href='#testimonial') CLIENTS
                  li.nav-item
                    a.page-scroll(href='#contact') CONTACT
              .navbar-btn.d-none.mt-15.d-lg-inline-block
                a.menu-bar(href='#side-menu-right')
                  i.lni-menu
            // navbar
        // row
      // container
    // navbar area
    #home.slider-area
      .bd-example
        #carouselOne.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#carouselOne' data-slide-to='0')
            li(data-target='#carouselOne' data-slide-to='1')
            li(data-target='#carouselOne' data-slide-to='2')
          .carousel-inner
            .carousel-item.bg_cover.active(style='background-image: url(/img/slider-1.jpg)')
              .carousel-caption
                .container
                  .row.justify-content-center
                    .col-xl-6.col-lg-7.col-sm-10
                      h2.carousel-title Refreshing Design &amp; Easy to Customize
                      ul.carousel-btn.rounded-buttons
                        li
                          a.main-btn.rounded-three(href='#') GET STARTED
                        li
                          a.main-btn.rounded-one(href='#') DOWNLOAD
                  // row
                // container
              // carousel caption
            // carousel-item
            .carousel-item.bg_cover(style='background-image: url(/img/slider-2.jpg)')
              .carousel-caption
                .container
                  .row.justify-content-center
                    .col-xl-6.col-lg-7.col-sm-10
                      h2.carousel-title Based on Latest Bootstrap &amp; HTML5
                      ul.carousel-btn.rounded-buttons
                        li
                          a.main-btn.rounded-three(href='#') GET STARTED
                        li
                          a.main-btn.rounded-one(href='#') DOWNLOAD
                  // row
                // container
              // carousel caption
            // carousel-item
            .carousel-item.bg_cover(style='background-image: url(/img/slider-3.jpg)')
              .carousel-caption
                .container
                  .row.justify-content-center
                    .col-xl-6.col-lg-7.col-sm-10
                      h2.carousel-title Multi-purpose Landing Page Template
                      ul.carousel-btn.rounded-buttons
                        li
                          a.main-btn.rounded-three(href='#') GET STARTED
                        li
                          a.main-btn.rounded-one(href='#') DOWNLOAD
                  // row
                // container
              // carousel caption
            // carousel-item
          // carousel-inner
          a.carousel-control-prev(href='#carouselOne' role='button' data-slide='prev')
            i.lni-arrow-left-circle
          a.carousel-control-next(href='#carouselOne' role='button' data-slide='next')
            i.lni-arrow-right-circle
        // carousel
      // bd-example
  // ====== NAVBAR PART ENDS ======
  // ====== SAIDEBAR PART START ======
  .sidebar-right
    .sidebar-close
      a.close(href='#close')
        i.lni-close
    .sidebar-content
      .sidebar-logo.text-center
        a(href='#')
          img(src='/img/logo-alt.png' alt='Logo')
      // logo
      .sidebar-menu
        ul
          li
            a(href='#') ABOUT
          li
            a(href='#') SERVICES
          li
            a(href='#') RESOURCES
          li
            a(href='#') CONTACT
      // menu
      .sidebar-social.d-flex.align-items-center.justify-content-center
        span FOLLOW US
        ul
          li
            a(href='#')
              i.lni-twitter-original
          li
            a(href='#')
              i.lni-facebook-filled
      // sidebar social
    // content
  .overlay-right
  // ====== SAIDEBAR PART ENDS ======
  // ====== ABOUT PART START ======
  section#about.about-area
    .container
      .row.justify-content-center
        .col-xl-6.col-lg-8
          .about-image.text-center.wow.fadeInUp(data-wow-duration='1.5s' data-wow-offset='100')
            img(src='/img/services.png' alt='services')
          .section-title.text-center.mt-30.pb-40
            h4.title.wow.fadeInUp(data-wow-duration='1.5s' data-wow-delay='0.6s') The future of designing starts here
            p.text.wow.fadeInUp(data-wow-duration='1.5s' data-wow-delay='1s')
              | An open platform for presentations and content collaboration. Sign up to get early access.
          // section title
      // row
      .row
        .col-lg-6
          .single-about.d-sm-flex.mt-30.wow.fadeInUp(data-wow-duration='1.5s' data-wow-delay='1.2s')
            .about-icon
              img(src='/img/icon-1.png' alt='Icon')
            .about-content.media-body
              h4.about-title Powerful templates
              p.text
                | Poorly designed presentations are a thing of the past. Create beautiful and high-quality content that is aligned.
          // single about
        .col-lg-6
          .single-about.d-sm-flex.mt-30.wow.fadeInUp(data-wow-duration='1.5s' data-wow-delay='1.4s')
            .about-icon
              img(src='/img/icon-2.png' alt='Icon')
            .about-content.media-body
              h4.about-title Designed for everyone
              p.text
                | Poorly designed presentations are a thing of the past. Create beautiful and high-quality content that is aligned.
          // single about
        .col-lg-6
          .single-about.d-sm-flex.mt-30.wow.fadeInUp(data-wow-duration='1.5s' data-wow-delay='1.6s')
            .about-icon
              img(src='/img/icon-3.png' alt='Icon')
            .about-content.media-body
              h4.about-title Work anywhere
              p.text
                | Poorly designed presentations are a thing of the past. Create beautiful and high-quality content that is aligned.
          // single about
        .col-lg-6
          .single-about.d-sm-flex.mt-30.wow.fadeInUp(data-wow-duration='1.5s' data-wow-delay='1.8s')
            .about-icon
              img(src='/img/icon-4.png' alt='Icon')
            .about-content.media-body
              h4.about-title Updated in real time
              p.text
                | Poorly designed presentations are a thing of the past. Create beautiful and high-quality content that is aligned.
          // single about
      // row
    // container
  // ====== ABOUT PART ENDS ======
  // ====== portfolio PART START ======
  section#portfolio.portfolio-area
    .container
      .row.justify-content-center
        .col-lg-6
          .section-title.text-center.pb-20
            h3.title Our Portfolio
            p.text
              | Stop wasting time and money designing and managing a website that doesn&rsquo;t get results. Happiness guaranteed!
          // row
      // row
      .row
        .col-lg-12
          .portfolio-menu.pt-30.text-center
            ul
              li.active(data-filter='*') ALL WORK
              li(data-filter='.branding-3') BRANDING
              li(data-filter='.marketing-3') MARKETING
              li(data-filter='.planning-3') PLANNING
              li(data-filter='.research-3') RESEARCH
          // portfolio menu
      // row
      .row.grid
        .col-lg-4.col-sm-6.branding-3.planning-3
          .single-portfolio.mt-30.wow.fadeInUp(data-wow-duration='1.5s' data-wow-delay='0.2s')
            .portfolio-image
              img(src='/img/portfolio-1.png' alt='')
              .portfolio-overlay.d-flex.align-items-center.justify-content-center
                .portfolio-content
                  .portfolio-icon
                    a.image-popup(href='/img/portfolio-1.png')
                      i.lni-zoom-in
                  .portfolio-icon
                    a(href='#')
                      i.lni-link
            .portfolio-text
              h4.portfolio-title
                a(href='#') Graphics Design
              p.text Short description for the ones who look for something new. Awesome!
          // single portfolio
        .col-lg-4.col-sm-6.marketing-3.research-3
          .single-portfolio.mt-30.wow.fadeInUp(data-wow-duration='1.5s' data-wow-delay='0.4s')
            .portfolio-image
              img(src='/img/portfolio-2.png' alt='')
              .portfolio-overlay.d-flex.align-items-center.justify-content-center
                .portfolio-content
                  .portfolio-icon
                    a.image-popup(href='/img/portfolio-2.png')
                      i.lni-zoom-in
                  .portfolio-icon
                    a(href='#')
                      i.lni-link
            .portfolio-text
              h4.portfolio-title
                a(href='#') Graphics Design
              p.text Short description for the ones who look for something new. Awesome!
          // single portfolio
        .col-lg-4.col-sm-6.branding-3.marketing-3
          .single-portfolio.mt-30.wow.fadeInUp(data-wow-duration='1.5s' data-wow-delay='0.7s')
            .portfolio-image
              img(src='/img/portfolio-3.png' alt='')
              .portfolio-overlay.d-flex.align-items-center.justify-content-center
                .portfolio-content
                  .portfolio-icon
                    a.image-popup(href='/img/portfolio-3.png')
                      i.lni-zoom-in
                  .portfolio-icon
                    a(href='#')
                      i.lni-link
            .portfolio-text
              h4.portfolio-title
                a(href='#') Graphics Design
              p.text Short description for the ones who look for something new. Awesome!
          // single portfolio
        .col-lg-4.col-sm-6.planning-3.research-3
          .single-portfolio.mt-30.wow.fadeInUp(data-wow-duration='1.5s' data-wow-delay='0.2s')
            .portfolio-image
              img(src='/img/portfolio-4.png' alt='')
              .portfolio-overlay.d-flex.align-items-center.justify-content-center
                .portfolio-content
                  .portfolio-icon
                    a.image-popup(href='/img/portfolio-4.png')
                      i.lni-zoom-in
                  .portfolio-icon
                    a(href='#')
                      i.lni-link
            .portfolio-text
              h4.portfolio-title
                a(href='#') Graphics Design
              p.text Short description for the ones who look for something new. Awesome!
          // single portfolio
        .col-lg-4.col-sm-6.marketing-3
          .single-portfolio.mt-30.wow.fadeInUp(data-wow-duration='1.5s' data-wow-delay='0.4s')
            .portfolio-image
              img(src='/img/portfolio-5.png' alt='')
              .portfolio-overlay.d-flex.align-items-center.justify-content-center
                .portfolio-content
                  .portfolio-icon
                    a.image-popup(href='/img/portfolio-5.png')
                      i.lni-zoom-in
                  .portfolio-icon
                    a(href='#')
                      i.lni-link
            .portfolio-text
              h4.portfolio-title
                a(href='#') Graphics Design
              p.text Short description for the ones who look for something new. Awesome!
          // single portfolio
        .col-lg-4.col-sm-6.planning-3
          .single-portfolio.mt-30.wow.fadeInUp(data-wow-duration='1.5s' data-wow-delay='0.7s')
            .portfolio-image
              img(src='/img/portfolio-6.png' alt='')
              .portfolio-overlay.d-flex.align-items-center.justify-content-center
                .portfolio-content
                  .portfolio-icon
                    a.image-popup(href='/img/portfolio-6.png')
                      i.lni-zoom-in
                  .portfolio-icon
                    a(href='#')
                      i.lni-link
            .portfolio-text
              h4.portfolio-title
                a(href='#') Graphics Design
              p.text Short description for the ones who look for something new. Awesome!
          // single portfolio
      // row
    // container
  // ====== portfolio PART ENDS ======
  // ====== PRINICNG STYLE EIGHT START ======
  section#pricing.pricing-area
    .container
      .row.justify-content-center
        .col-lg-6
          .section-title.text-center.pb-20
            h3.title Pricing Plan
            p.text
              | Stop wasting time and money designing and managing a website that doesn&rsquo;t get results. Happiness guaranteed!
          // section title
      // row
      .row.justify-content-center
        .col-lg-4.col-md-7.col-sm-9
          .pricing-style-one.mt-40.wow.fadeIn(data-wow-duration='1.5s' data-wow-delay='0.2s')
            .pricing-icon.text-center
              img(src='/img/wman.svg' alt='')
            .pricing-header.text-center
              h5.sub-title Basic
              p.month
                span.price $ 199
                | /month
            .pricing-list
              ul
                li
                  i.lni-check-mark-circle
                  |  Carefully crafted components
                li
                  i.lni-check-mark-circle
                  |  Amazing page examples
            .pricing-btn.rounded-buttons.text-center
              a.main-btn.rounded-three(href='#') GET STARTED
          // pricing style one
        .col-lg-4.col-md-7.col-sm-9
          .pricing-style-one.mt-40.wow.fadeIn(data-wow-duration='1.5s' data-wow-delay='0.5s')
            .pricing-icon.text-center
              img(src='/img/wman.svg' alt='')
            .pricing-header.text-center
              h5.sub-title Pro
              p.month
                span.price $ 399
                | /month
            .pricing-list
              ul
                li
                  i.lni-check-mark-circle
                  |  Carefully crafted components
                li
                  i.lni-check-mark-circle
                  |  Amazing page examples
            .pricing-btn.rounded-buttons.text-center
              a.main-btn.rounded-three(href='#') GET STARTED
          // pricing style one
        .col-lg-4.col-md-7.col-sm-9
          .pricing-style-one.mt-40.wow.fadeIn(data-wow-duration='1.5s' data-wow-delay='0.8s')
            .pricing-icon.text-center
              img(src='/img/wman.svg' alt='')
            .pricing-header.text-center
              h5.sub-title Enterprise
              p.month
                span.price $ 699
                | /month
            .pricing-list
              ul
                li
                  i.lni-check-mark-circle
                  |  Carefully crafted components
                li
                  i.lni-check-mark-circle
                  |  Amazing page examples
            .pricing-btn.rounded-buttons.text-center
              a.main-btn.rounded-three(href='#') GET STARTED
          // pricing style one
      // row
    // container
  // ====== PRINICNG STYLE EIGHT ENDS ======
  // ====== CALL TO ACTION TWO PART START ======
  section#call-action.call-action-area
    .container
      .row.align-items-center
        .col-lg-5
          .call-action-content.mt-45
            h3.action-title Get latest updates!
            p.text We never spam your email
          // call action content
        .col-lg-7
          .call-action-form.mt-50
            form(action='#')
              input(type='text' placeholder='Enter your email')
              .action-btn.rounded-buttons
                button.main-btn.rounded-three subscribe
          // call action form
      // row
    // container
  // ====== CALL TO ACTION TWO PART ENDS ======
  // ====== TESTIMONIAL THREE PART START ======
  section#testimonial.testimonial-area
    .container
      .row.justify-content-center
        .col-lg-6
          .section-title.text-center.pb-20
            h3.title Testimonial
            p.text
              | Stop wasting time and money designing and managing a website that doesn&rsquo;t get results. Happiness guaranteed!
          // section title
      // row
      .row
        .col-lg-12
          .row.testimonial-active
            .col-lg-4
              .single-testimonial.mt-30.mb-30.text-center
                .testimonial-image
                  img(src='/img/author-3.jpg' alt='Author')
                .testimonial-content
                  p.text
                    | Stop wasting time and money designing and managing a website that doesn&rsquo;t get results. Happiness guaranteed! Stop wasting time and money designing and managing a website that doesn&rsquo;t get results. Happiness guaranteed!
                  h6.author-name Isabela Moreira
                  span.sub-title CEO, GrayGrids
              // single testimonial
            .col-lg-4
              .single-testimonial.mt-30.mb-30.text-center
                .testimonial-image
                  img(src='/img/author-1.jpg' alt='Author')
                .testimonial-content
                  p.text
                    | Stop wasting time and money designing and managing a website that doesn&rsquo;t get results. Happiness guaranteed! Stop wasting time and money designing and managing a website that doesn&rsquo;t get results. Happiness guaranteed!
                  h6.author-name Fiona
                  span.sub-title Lead Designer, UIdeck
              // single testimonial
            .col-lg-4
              .single-testimonial.mt-30.mb-30.text-center
                .testimonial-image
                  img(src='/img/author-2.jpg' alt='Author')
                .testimonial-content
                  p.text
                    | Stop wasting time and money designing and managing a website that doesn&rsquo;t get results. Happiness guaranteed! Stop wasting time and money designing and managing a website that doesn&rsquo;t get results. Happiness guaranteed!
                  h6.author-name Elon Musk
                  span.sub-title CEO, SpaceX
              // single testimonial
            .col-lg-4
              .single-testimonial.mt-30.mb-30.text-center
                .testimonial-image
                  img(src='/img/author-4.jpg' alt='Author')
                .testimonial-content
                  p.text
                    | Stop wasting time and money designing and managing a website that doesn&rsquo;t get results. Happiness guaranteed! Stop wasting time and money designing and managing a website that doesn&rsquo;t get results. Happiness guaranteed!
                  h6.author-name Fajar Siddiq
                  span.sub-title CEO, MakerFlix
              // single testimonial
          // row
      // row
    // container
  // ====== TESTIMONIAL THREE PART ENDS ======
  // ====== CLIENT LOGO PART START ======
  section#client.client-logo-area
    .container
      .row.client-active
        .col-lg-3
          .single-client.text-center
            img(src='/img/client_logo_01.png' alt='Logo')
          // single client
        .col-lg-3
          .single-client.text-center
            img(src='/img/client_logo_02.png' alt='Logo')
          // single client
        .col-lg-3
          .single-client.text-center
            img(src='/img/client_logo_03.png' alt='Logo')
          // single client
        .col-lg-3
          .single-client.text-center
            img(src='/img/client_logo_04.png' alt='Logo')
          // single client
        .col-lg-3
          .single-client.text-center
            img(src='/img/client_logo_05.png' alt='Logo')
          // single client
        .col-lg-3
          .single-client.text-center
            img(src='/img/client_logo_06.png' alt='Logo')
          // single client
        .col-lg-3
          .single-client.text-center
            img(src='/img/client_logo_07.png' alt='Logo')
          // single client
        .col-lg-3
          .single-client.text-center
            img(src='/img/client_logo_08.png' alt='Logo')
          // single client
      // row
    // container
  // ====== CLIENT LOGO PART ENDS ======
  // ====== CONTACT TWO PART START ======
  section#contact.contact-area
    .container
      .row.justify-content-center
        .col-lg-6
          .section-title.text-center.pb-20
            h3.title Get in touch
            p.text
              | Stop wasting time and money designing and managing a website that doesn&rsquo;t get results. Happiness guaranteed!
          // section title
      // row
      .row
        .col-lg-6
          .contact-two.mt-50.wow.fadeIn(data-wow-duration='1.5s' data-wow-delay='0.2s')
            h4.contact-title Lets talk about the project
            p.text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam unde repellendus delectus facilis quia consequatur maxime perferendis! Sequi, modi consequatur.
            ul.contact-info
              li
                i.lni-money-location
                |  Elizabeth St, Melbourne, Australia
              li
                i.lni-phone-handset
                |  +333 789-321-654
              li
                i.lni-envelope
                |  hello@ayroui.com
          // contact two
        .col-lg-6
          .contact-form.form-style-one.mt-35.wow.fadeIn(data-wow-duration='1.5s' data-wow-delay='0.5s')
            form#contact-form(action='assets/contact.php' method='post')
              .form-input.mt-15
                label Name
                .input-items.default
                  input(type='text' placeholder='Name' name='name')
                  i.lni-user
              // form input
              .form-input.mt-15
                label Email
                .input-items.default
                  input(type='email' placeholder='Email' name='email')
                  i.lni-envelope
              // form input
              .form-input.mt-15
                label Massage
                .input-items.default
                  textarea(placeholder='Massage' name='massage')
                  i.lni-pencil-alt
              // form input
              p.form-message
              .form-input.rounded-buttons.mt-20
                button.main-btn.rounded-three(type='submit') Submit
              // form input
          // contact form
      // row
    // container
  // ====== CONTACT TWO PART ENDS ======
  // ====== FOOTER FOUR PART START ======
  footer#footer.footer-area
    .footer-widget
      .container
        .row
          .col-lg-3.col-sm-6
            .footer-link
              h6.footer-title Company
              ul
                li
                  a(href='#') About
                li
                  a(href='#') Contact
                li
                  a(href='#') Profile
            // footer link
          .col-lg-3.col-sm-6
            .footer-link
              h6.footer-title Solutions
              ul
                li
                  a(href='#') Facilities Services
                li
                  a(href='#') Workplace Staffing
                li
                  a(href='#') Project Management
            // footer link
          .col-lg-3.col-sm-6
            .footer-link
              h6.footer-title Product &amp; Services
              ul
                li
                  a(href='#') Products
                li
                  a(href='#') Business
                li
                  a(href='#') Developer
            // footer link
          .col-lg-3.col-sm-6
            .footer-link
              h6.footer-title Help &amp; Suuport
              ul
                li
                  a(href='#') Support Center
                li
                  a(href='#') FAQ
                li
                  a(href='#') Terms &amp; Conditions
            // footer link
        // row
      // container
    // footer widget
    .footer-copyright
      .container
        .row.align-items-center
          .col-lg-5
            .copyright.text-center.text-lg-left.mt-10
              p.text
                | Crafted by 
                a(style='color: #38f9d7' rel='nofollow' href='https://uideck.con') UIdeck
                |  and UI Elements from 
                a(style='color: #38f9d7' rel='nofollow' href='https://ayroui.com') Ayro UI
            // copyright
          .col-lg-2
            .footer-logo.text-center.mt-10
              a(href='index.html')
                img(src='/img/logo-2.svg' alt='Logo')
            // footer logo
          .col-lg-5
            ul.social.text-center.text-lg-right.mt-10
              li
                a(href='https://facebook.com/uideckHQ')
                  i.lni-facebook-filled
              li
                a(href='https://twitter.com/uideckHQ')
                  i.lni-twitter-original
              li
                a(href='https://instagram.com/uideckHQ')
                  i.lni-instagram-original
              li
                a(href='#')
                  i.lni-linkedin-original
            // social
        // row
      // container
    // footer copyright
  // ====== FOOTER FOUR PART ENDS ======
  // ====== BACK TOP TOP PART START ======
  a.back-to-top(href='#')
    i.lni-chevron-up
  // ====== BACK TOP TOP PART ENDS ======
  // ====== PART START ======
  // ====== PART ENDS ======


