doctype html
head
  // ====== Required meta tags ======
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // ====== Title ======
  title= title
  // ====== Favicon Icon ======
  link(rel='shortcut icon' href='/img/favicon.png' type='image/png')
  // ====== Bootstrap css ======
  link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
  // ====== Line Icons css ======
  link(rel='stylesheet' href='/stylesheets/LineIcons.css')
  // ====== Magnific Popup css ======
  link(rel='stylesheet' href='/stylesheets/magnific-popup.css')
  // ====== Slick css ======
  link(rel='stylesheet' href='/stylesheets/slick.css')
  // ====== Animate css ======
  link(rel='stylesheet' href='/stylesheets/animate.css')
  // ====== Default css ======
  link(rel='stylesheet' href='/stylesheets/default.css')
  // ====== Style css ======
  link(rel='stylesheet' href='/stylesheets/style.css')
body
  block load
  block head
  block content
  block foot
    // ====== jquery js ======
  script(src='/script/vendor/modernizr-3.6.0.min.js')
  script(src='/script/vendor/jquery-1.12.4.min.js')
  // ====== Bootstrap js ======
  script(src='/script/bootstrap.min.js')
  script(src='/script/popper.min.js')
  // ====== Slick js ======
  script(src='/script/slick.min.js')
  // ====== Isotope js ======
  script(src='/script/isotope.pkgd.min.js')
  // ====== Images Loaded js ======
  script(src='/script/imagesloaded.pkgd.min.js')
  // ====== Magnific Popup js ======
  script(src='/script/jquery.magnific-popup.min.js')
  // ====== Scrolling js ======
  script(src='/script/scrolling-nav.js')
  script(src='/script/jquery.easing.min.js')
  // ====== wow js ======
  script(src='/script/wow.min.js')
  // ====== Main js ======
  script(src='/script/main.js')