doctype html
html(lang="es", dir="ltr")
    head
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        // Font online
        link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet')
        // Animate.css
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
        link(rel='stylesheet' href='/css/main.css')
        // Google JQuery CDN
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    body
        div(style='overflow:hidden;')
            .panel.shadow1
                form.login-form
                    .panel-switch.animated.fadeIn
                        button#sign_up.active-button(type='button') Sign Up
                        button#log_in(type='button' disabled='') Log in
                    h1#title-login.animated.fadeInUp.animate1 Welcome Back !
                    h1#title-signup.animated.fadeInUp.animate1.hidden Welcome !
                    fieldset#login-fieldset
                        input#username_in.login.animated.fadeInUp.animate2(name='username' type='textbox' required='' placeholder='Username' value='')
                        input#password_in.login.animated.fadeInUp.animate3(name='password' type='password' required='' placeholder='Password' value='')
                    fieldset#signup-fieldset.hidden
                        input#username_up.login.animated.fadeInUp.animate2(name='username' type='textbox' required='' placeholder='Username' value='')
                        input#password_up.login.animated.fadeInUp.animate3(name='password' type='password' placeholder='Password' required='' value='')
                        input#confirm_password_up.login.animated.fadeInUp.animate3(name='password' type='password' placeholder='Confirm password' required='' value='')
                    input#login-form-submit.login_form.button.animated.fadeInUp.animate4(type='submit' value='Log in')
                    input#signup-form-submit.login_form.button.animated.fadeInUp.animate4.hidden(type='submit' value='Sign up')
                    p
                        a#lost-password-link.animated.fadeIn.animate5(href='') I forgot my  login or password (!)
        script(src="/script/mainsignin.js")
                
    
            
